.div__cpf{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div__cpf label {
    font-style: italic;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.875rem;
    color: #2C2A2A;
}

.div__cpf input{
    border-radius: 5px;
    width: 50vw;
    height: 3rem;
    background-color: #D9D9D9;
    font-size: 1.25rem;
}