:root{
    --primary-color: #68357A;
    --primary-color2: #B5A72F;
}

main{
    display: flex;
    justify-content: center;
    background-color: #2C2A2A;
    height: 85vh;
}

form{
    margin-top: 50px;
    border: 5px solid tomato;
    border-radius: 10px;
    width: 40vw;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    height: 70vh;
}